{% extends 'pages/home.html.twig' %}

{% block title %}{# Sign in #} Profile{% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('nav_bar.css','css') }}" rel="stylesheet"/>
        {# <link href="{{ asset('login_page.css','css') }}" rel="stylesheet"/> #}
        <link href="{{ asset('profile.css','css') }}" rel="stylesheet"/>
        {# <style>
            body {
                background-image: url({{ asset('login_background.jpg','login_page_images') }});
                background-size: cover;
            }

            .checkbox:checked {
                background-image: url('{{ asset('checked.svg','login_page_images') }}');
            }
        </style> #}


    {% endblock %}


	{% block body %}
        {#
        {% block nav %}
            {{ parent() }}
        {% endblock %}
          <section class="login_page">

            <img src="{{ asset('contact_icon.svg','login_page_images') }}" alt="icone de contact"
                 class="contact_icon"/>
            <form method="post">

                <div class="username">
                    <img src="{{ asset('username_icon.svg','login_page_images') }}" alt="Icone username">
                    <input placeholder="Email" value="{{ last_username }}" name="_username" id="username"
                           type="text" class="input"/>
                </div>

                <div class="password">
                    <img src="{{ asset('password_icon.svg','login_page_images') }}" alt="Icone password">
                    <input placeholder="........" name="_password" id="inputPassword" type="password" class="input">
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="login-button"> Login</button>

                <div class="check">
                    <label><input type="checkbox" class="checkbox" style="">Remember me</label>
                    <a href="#">forgot your password?</a>
                </div>
            </form>
            <img src="{{ asset('line.svg','login_page_images') }}" alt="ligne" class="line"/>
            <p class=>You don't have account ? <a href="{{ path('user.create.choice') }}">Sign Up now</a></p>

        </section>
        #}
        {% block nav %}
            {{ parent() }}
        {% endblock %}
        <section class="profile-page">
            <h1>Profile</h1>

            <div class="basic-informations">
                <h2>Basic information</h2>
                <div class="basic-informations-items">
                    <div class="right-items">
                        <div class="info-item">
                            <p><img src="{{ asset('male.svg','profile_images') }}" alt="icon"> <span
                                        class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('calendar.svg','profile_images') }}" alt="icon"> <span
                                        class="info"></span></p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('male.svg','profile_images') }}" alt="icon"> <span
                                        class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('linkedin.svg','profile_images') }}" alt="icon"><span
                                        class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="right-items">
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="inventory">
                <h2>inventory</h2>
                <div class="inventory-items">
                    <div class="inventory-item">
                        <div class="item-description">
                            <h3>Item</h3>
                            <p>item details</p>
                        </div>
                        <div class="command-buttons">
                            <button class="plus-button">+</button>
                            <div class="number-item">00</div>
                            <button class="minus-button">-</button>
                        </div>
                    </div>
                    <div class="inventory-item">
                        <div class="item-description">
                            <h3>Item</h3>
                            <p>item details</p>
                        </div>
                        <div class="command-buttons">
                            <button class="plus-button">+</button>
                            <div class="number-item">00</div>
                            <button class="minus-button">-</button>
                        </div>
                    </div>
                    <div class="inventory-item">
                        <div class="item-description">
                            <h3>Item</h3>
                            <p>item details</p>
                        </div>
                        <div class="command-buttons">
                            <button class="plus-button">+</button>
                            <div class="number-item">00</div>
                            <button class="minus-button">-</button>
                        </div>
                    </div>
                    <div class="inventory-item">
                        <div class="item-description">
                            <h3>Item</h3>
                            <p>item details</p>
                        </div>
                        <div class="command-buttons">
                            <button class="plus-button">+</button>
                            <div class="number-item">00</div>
                            <button class="minus-button">-</button>
                        </div>
                    </div>
                </div>
                <div class="add-save-button">
                    <button class="add-item">Add</button>
                    <button class="save-item">Save</button>
                </div>
            </div>
        </section>

    {% endblock %}