{% extends 'pages/home.html.twig' %}

{% block title %}{# Sign in #} Profile{% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('nav_bar.css','css') }}" rel="stylesheet"/>
        {# <link href="{{ asset('login_page.css','css') }}" rel="stylesheet"/> #}
        <link href="{{ asset('profile.css','css') }}" rel="stylesheet"/>
        {# <style>
            body {
                background-image: url({{ asset('login_background.jpg','login_page_images') }});
                background-size: cover;
            }

            .checkbox:checked {
                background-image: url('{{ asset('checked.svg','login_page_images') }}');
            }
        </style> #}


    {% endblock %}


	{% block body %}

        {% block nav %}
            {{ parent() }}
        {% endblock %}
        <section class="profile-page">
            <h1>Profile</h1>

            <div class="basic-informations">
                <h2>Basic information</h2>
                <div class="basic-informations-items">
                    <div class="right-items">
                        <div class="info-item">
                            <p><img src="{{ asset('male.svg','profile_images') }}" alt="icon"> <span
                                        class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('calendar.svg','profile_images') }}" alt="icon"> <span
                                        class="info"></span></p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('male.svg','profile_images') }}" alt="icon"> <span
                                        class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('linkedin.svg','profile_images') }}" alt="icon"><span
                                        class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="right-items">
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                        <div class="info-item">
                            <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                            </p>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="inventory">
                <h2>inventory</h2>
                <div class="inventory-items">
                    <div class="inventory-item">
                        <div class="item-description">
                            <h3>Item</h3>
                            <p>item details</p>
                        </div>
                        <div class="command-buttons">
                            <button class="plus-button">+</button>
                            <div class="number-item">00</div>
                            <button class="minus-button">-</button>
                        </div>
                    </div>
                    <div class="inventory-item">
                        <div class="item-description">
                            <h3>Item</h3>
                            <p>item details</p>
                        </div>
                        <div class="command-buttons">
                            <button class="plus-button">+</button>
                            <div class="number-item">00</div>
                            <button class="minus-button">-</button>
                        </div>
                    </div>
                    <div class="inventory-item">
                        <div class="item-description">
                            <h3>Item</h3>
                            <p>item details</p>
                        </div>
                        <div class="command-buttons">
                            <button class="plus-button">+</button>
                            <div class="number-item">00</div>
                            <button class="minus-button">-</button>
                        </div>
                    </div>
                    <div class="inventory-item">
                        <div class="item-description">
                            <h3>Item</h3>
                            <p>item details</p>
                        </div>
                        <div class="command-buttons">
                            <button class="plus-button">+</button>
                            <div class="number-item">00</div>
                            <button class="minus-button">-</button>
                        </div>
                    </div>
                </div>
                <div class="add-save-button">
                    <button class="add-item">Add</button>
                    <button class="save-item">Save</button>
                </div>
            </div>
        </section>


        <form method="post">
            {% for key,value in items %}
                <div><input name="{{ key }}" value="{{ value }}" type="number"> {{ key }} </div>
            {% endfor %}
            <button type="submit">Envoyer</button>
        </form>
    {% endblock %}

