{% extends '/pages/home.html.twig' %}
    {% block title %}View Companies{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('nav_bar.css','css') }}" rel="stylesheet"/>
    <link href="{{ asset('show_company.css','css') }}" rel="stylesheet"/>
    <style>
        body {
            background-image: url("{{ asset('show_company.jpg','show_company_images') }}");
            background-size: cover;
        }

    </style>

{% endblock %}

{% block body %}
    {% block nav %}{{ parent() }}{% endblock %}
    <section class="show_company">
        <h1>Companies</h1>
        <div class="line"></div>
        <div class="wrapper">
            <div class="button-div">
                <select name="Filtre">

                    <option value="Wilaya">Name</option>
                    <option value="Name">Zone</option>
                    <option value="Category">Category</option>
                </select>
                <div class="buttons">
                    <button class="filter-button">Filter</button>
                    <button class="add">Add</button>
                </div>

            </div>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Zone</th>
                    <th>Category</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>

                {% for company in companies %}
                    <tr>
                        <td>{{ company.username }}</td><!--Name value-->
                        <td>{{ company.zone.name }}</td><!--Zone value-->
                        <td>{{ company.category.name }}</td><!--Category value-->
                        <td>{{ company.email }}</td><!--Email value-->
                        <td>{{ company.mobilephone }}</td><!--Phone number value-->
                        <td><a href="{{ path() }}"></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>
{% endblock %}